/* Global CSS for all pages */

* {
    /* Sizing helper: See Workbook 1b, page 2-33. */
    box-sizing: border-box;

    /* 
       Vizualization helper: While styling or debugging your HTML & CSS, 
       uncomment the rule below to see all the boxes on your page more
       clearly! (Remove this outline before submitting: users won't 
       want to see it!)
    */
    /* outline: 1px dotted red; */
}

:root {
    font-size: 1rem;
}

body{
        font-family: "Poppins", sans-serif;
}

.btn {
   display: inline-block;
   padding: 0.6rem 2rem;
   font-weight: 500;
   border-radius: 2rem;
   cursor: pointer;
   transition: all 300ms ease;
   font-size: 0.9rem;
   background: #544785;
}

.btn:hover {
   opacity: 0.8;
}

body{
    font-family: "Poppins", sans-serif;
}
