
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    margin: 0; /* Reset default margin */
    background-color: #b090d0;
    color: #544785;
}

h1 {
    color: #0f2027;
    text-align: center;
    margin-bottom: 20px; /* Add margin below h1 for spacing */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-size: 2rem;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content at the top of the form */
    align-items: center;
    align-self: center; /* Center the form horizontally */
    margin-top: 20px;
    padding: 25px;
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: 15px;
    max-width: 85%;
    width: 25rem;
    height: 30rem;
}

#loginButton {
    margin-top: 10px;
    
}

.loginButton{
    background-color: #544785;
}

