
body {
    color: #544785;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-color: #b090d0;
    color: #544785;
    margin: 0;
}

h1 {
    color: #423866;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.regFormOne {
    padding: 25px;
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: 0.5rem;
    max-width: 35%;z
}

h1 {
    color: #423866;
    text-align: center;
}

.submitButton {
    margin-top: 10px;
    max-width: 100%; /* Set a maximum width */
    width: 40rem;
    height: 100%; /* Take up the full width of the parent container */
    margin: 0 auto;
    /* Center the form horizontally */
    
}


#submitButton {
    margin-top: 20px;
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1rem;
     background-color: #e5e3ec;
    
    
}

#registerPageLoginAnchor{
    font-size: x-large;
    margin-top: 20px;
}

#teamMeowTextLogo{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    


}

#teamMeowTextLogo img {
    max-width: 100%; 
    height: auto;
    max-height: 150px;
    margin-bottom: 3.5rem; 
}

.header {
    padding-bottom: 3%;
}

label {
    font-size: 2.5rem;
}

input{
    /* box-sizing: border-box; */
    margin-left: 3rem;
    border: solid black 3px;
    border-radius: 10px;
    font-size: 2rem;
    max-width: 85%; /* Take up the full width of the parent container */
}

input::placeholder {
    text-align: center;
}



.inputBoxOne {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add margin to adjust spacing */
}

.inputBoxOne i {
    position: absolute;
    left: 20px; /* Adjust the left position as needed */
    color: #555; /* Adjust the color as needed */
    font-size: 2rem; /* Adjust the font size as needed */
    margin-left: 3rem;
}

.inputBoxOne input {
    box-sizing: border-box;
    border: solid black 3px;
    border-radius: 10px;
    font-size: 2rem;
    width: 100% ;
    padding-left: 50px; /* Adjust the padding to leave space for the icon */
}

.inputBoxOne ::placeholder{
    text-align: center;
    font-size: larger;
    padding-right: 5rem;
}

.inputBoxTwo {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add margin to adjust spacing */
}

.inputBoxTwo i {
    position: absolute;
    left: 20px; /* Adjust the left position as needed */
    color: #555; /* Adjust the color as needed */
    font-size: 2rem; /* Adjust the font size as needed */
    margin-left: 3rem;
}

.inputBoxTwo input {
    box-sizing: border-box;
    border: solid black 3px;
    border-radius: 10px;
    font-size: 2rem;
    width: 100% ;
    padding-left: 50px; /* Adjust the padding to leave space for the icon */
}

.inputBoxTwo ::placeholder{
    text-align: center;
    font-size: larger;
    padding-right: 5rem;
}

.inputBoxThree {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add margin to adjust spacing */
}

.inputBoxThree i {
    position: absolute;
    left: 20px; /* Adjust the left position as needed */
    color: #555; /* Adjust the color as needed */
    font-size: 2rem; /* Adjust the font size as needed */
    margin-left: 3rem;
}

.inputBoxThree input {
    box-sizing: border-box;
    border: solid black 3px;
    border-radius: 10px;
    font-size: 2rem;
    width: 100% ;
    padding-left: 50px; /* Adjust the padding to leave space for the icon */
}

.inputBoxThree ::placeholder{
    text-align: center;
    font-size: larger;
    padding-right: 5rem;
}

.inputBoxFour {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add margin to adjust spacing */
}

.inputBoxFour i {
    position: absolute;
    left: 20px; /* Adjust the left position as needed */
    color: #555; /* Adjust the color as needed */
    font-size: 2rem; /* Adjust the font size as needed */
   
    margin-left: 3rem;
}

.inputBoxFour input {
    box-sizing: border-box;
    border: solid black 3px;
    border-radius: 10px;
    font-size: 2rem;
    width: 100% ;
    padding-left: 50px; /* Adjust the padding to leave space for the icon */
}

.inputBoxFour ::placeholder{
    text-align: center;
    font-size: larger;
    padding-right: 5rem;
}


/* Increase the font-size for the icons */
.gg-profile,
.gg-user,
.gg-lock-unlock,
.gg-lock {
    font-size: 4rem !important; /* Adjust the size as needed */
}


@media (max-width: 768px) {
    /* Styles for screens with a maximum width of 768 pixels */
    body {
        padding: 2rem;
    }

    .regFormOne {
        max-width: 100%;
    }
}