/* body{
    background-color: #0f2027;
} */

.regFormOne{
    /* width: 20rem;
    
    margin-left: 35%; */
    padding: 25px;
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: 15px;
    max-width: 50%;
}

h1{
    color: #0f2027;
    text-align: center;
    
}

.submitButton{
    margin-top: 10px;
}

