/* Posts Page CSS */
* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   border: none;
}

body {
   font-family: "Poppins", sans-serif;
   color: #544785;
   background: #e8e7e9;
   overflow-x: hidden;
   
}

.container {
   width: 80%;
   margin: 0 8rem;
}

.profile-photo {
   margin-left: 1rem;
   width: 2.8rem;
   border-radius: 50%;
   overflow: hidden;
}
.main-profile-photo {
   margin-left: 1rem;
   width: 3.5rem;
   border-radius: 50%;
   overflow: hidden;
}

img {
   display: block;
   width: 100%;
}

.btn {
   display: inline-block;
   padding: 0.6rem 2rem;
   font-weight: 500;
   border-radius: 2rem;
   cursor: pointer;
   transition: all 300ms ease;
   font-size: 0.9rem;
   background: #544785;
}

.btn:hover {
   opacity: 0.8;
}

.text-bold {
   font-weight: 500;
}

.text-muted {
   color: #9e98b3;
}

nav {
   width: 100%;
   background: #b090d0;
   padding: 0.7rem 0;
   position: fixed;
   top: 0;
   z-index: 10;
}

nav .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav .create {
   display: flex;
   align-items: center;
   gap: 2rem;
}

/* =============== Main ============== */
main {
   position: relative;
   top: 5.4rem;
}

main .container {
   display: grid;
   grid-template-columns: 18vw auto 20vw;
   column-gap: 2rem;
   position: relative;
}

/* =============== Left ============== */
main .container .left {
   height: max-content;
   position: sticky;
   top: 5.4rem;
}

main .container .left .profile {
   padding: 2rem;
   background: white;
   border-radius: 2rem;
   display: flex;
   align-items: center;
   width: 100%;
   text-decoration: none;
   color: #544785;
}

/* =============== Sidebar ============== */
.left .sidebar {
   margin-top: 1rem;
   background: white;
   border-radius: 2rem;
}

.left .sidebar .menu-item {
   display: flex;
   align-items: center;
   height: 4rem;
   cursor: pointer;
   transition: all 300ms ease;
   position: relative;
}

.left .sidebar i {
   font-size: 1.4rem;
   color: grey;
   margin-left: 2rem;
   position: relative;
}

.left .sidebar h3 {
   margin-left: 1.5rem;
   font-size: 1rem;
}

.left .btn {
   margin-top: 1rem;
   width: 100%;
   text-align: center;
   padding: 1rem 0;
   margin-bottom: 0.7rem;
}

/* =============== Create Post ============== */
.middle .create-post {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 1rem;
   background: white;
   padding: 0.4rem 1rem;
   border-radius: 2rem;
}

/* =============== Feeds ============== */
.middle .feeds .feed {
   background: white;
   border-radius: 2rem;
   padding: 1rem;
   margin: 1rem 0;
   font-size: 0.85rem;
   line-height: 1.5;
   max-width: 55rem;
}

.middle .feed .head {
   display: flex;
   justify-content: space-between;
}

.middle .feed .user {
   display: flex;
   gap: 1rem;
}

.middle .feed .photo {
   margin: 0.7rem 0;
}

.middle .liked-by {
   display: flex;
}

.middle .liked-by span {
   width: 1.4rem;
   height: 1.4rem;
   display: block;
   border-radius: 50%;
   overflow: hidden;
   border: 2px solid #e1deed;
   margin-left: -0.6rem;
}

/* =============== Right ============== */
main .container .right {
   height: max-content;
   position: sticky;
   top: 5.4rem;
}

/* =============== Messages ============== */
.right .messages {
   background: rgb(255, 255, 255);
   border-radius: 1rem;
   padding: 2px;
   position: sticky;
}

.right .messages .heading {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1rem;
}

.right .messages .heading h4 {
   margin-left: 5.5rem;
}

.right .messages .search-bar {
   display: flex;
   margin-bottom: 1rem;
}

.right .messages .category {
   display: flex;
   justify-content: space-between;
   margin-bottom: 1rem;
}

.right .messages .category h6 {
   width: 100%;
   text-align: center;
   border-bottom: 4px solid #a59cc9;
   padding-bottom: 0.5rem;
   font-size: 0.75rem;
}

.right .messages .message {
   display: flex;
   gap: 1rem;
   margin-bottom: 1rem;
   align-items: start;
}

/* =============== Friend Requests ============== */
.right .friend-requests {
   margin-top: 1rem;
}

.right .friend-requests h4 {
   color: #544785;
   margin: 1rem 0;
   display: flex;
   justify-content: center;
}

.right .request {
   background: white;
   padding: 1rem;
   border-radius: 1rem;
   margin-bottom: 0.7rem;
}

.right .request .info {
   display: flex;
   gap: 1rem;
   margin-bottom: 1rem;
}

.right .request .action {
   display: flex;
   gap: 1rem;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
   display: block;
}
a {
   background-color: transparent;
}
html {
   font-size: 10px;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover,
a:focus {
   color: #23527c;
   text-decoration: underline;
}
a:focus {
   outline: thin dotted;
   outline: 5px auto -webkit-focus-ring-color;
   outline-offset: -2px;
}
.close {
   float: right;
   font-size: 21px;
   font-weight: bold;
   line-height: 1;
   color: #000000;
   text-shadow: 0 1px 0 #ffffff;
   opacity: 0.2;
   filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
   color: #000000;
   text-decoration: none;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}
button.close {
   padding: 0;
   cursor: pointer;
   background: transparent;
   border: 0;
}
.modal-open {
   overflow: hidden;
}
.modal {
   display: none;
   overflow: hidden;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1050;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
.modal.fade .modal-dialog {
   -webkit-transform: translate(0, -25%);
   -ms-transform: translate(0, -25%);
   -o-transform: translate(0, -25%);
   transform: translate(0, -25%);
   -webkit-transition: -webkit-transform 0.3s ease-out;
   -o-transition: -o-transform 0.3s ease-out;
   transition: transform 0.3s ease-out;
   margin-top: 7rem;
}
.modal.in .modal-dialog {
   -webkit-transform: translate(0, 0);
   -ms-transform: translate(0, 0);
   -o-transform: translate(0, 0);
   transform: translate(0, 0);
}
.modal-open .modal {
   overflow-x: hidden;
   overflow-y: auto;
}
.modal-dialog {
   position: relative;
   width: auto;
   margin: 10px;
}
.modal-content {
   position: relative;
   background-color: #ffffff;
   border: 1px solid #999999;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 6px;
   -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
   box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
.modal-backdrop {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000000;
}
.modal-backdrop.fade {
   opacity: 0;
   filter: alpha(opacity=0);
}
.modal-backdrop.in {
   opacity: 0.5;
   filter: alpha(opacity=50);
}
.modal-header {
   padding: 15px;
   border-bottom: 1px solid #e5e5e5;
   min-height: 16.42857143px;
}
.modal-header .close {
   margin-top: -2px;
}
.modal-title {
   margin: 0;
   line-height: 1.42857143;
}
.modal-body {
   position: relative;
   padding: 15px;
}
.modal-footer {
   padding: 15px;
   text-align: right;
   border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
   margin-left: 5px;
   margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
   margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
   margin-left: 0;
}
.modal-scrollbar-measure {
   position: absolute;
   top: -9999px;
   width: 50px;
   height: 50px;
   overflow: scroll;
}
.clickable {
   cursor: pointer;
}
@media (min-width: 768px) {
   .modal-dialog {
      width: 600px;
      margin: 30px auto;
   }
   .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
   }
   .modal-sm {
      width: 300px;
   }
}
@media (min-width: 992px) {
   .modal-lg {
      width: 900px;
   }
}
.clearfix:before,
.clearfix:after,
.modal-footer:before,
.modal-footer:after {
   content: " ";
   display: table;
}
.clearfix:after,
.modal-footer:after {
   clear: both;
}
.center-block {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.pull-right {
   float: right !important;
}
.pull-left {
   float: left !important;
}
.hide {
   display: none !important;
}
.show {
   display: block !important;
}
.invisible {
   visibility: hidden;
}
.text-hide {
   font: 0/0 a;
   color: transparent;
   text-shadow: none;
   background-color: transparent;
   border: 0;
}
.hidden {
   display: none !important;
}
.affix {
   position: fixed;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: 1000;
   display: none;
}

.modal-open .overlay {
   display: block;
}

#postInput {
   background-color: whitesmoke;
   border: 1px solid #544785;
   font-family: Poppins, sans-serif;
}

button {
   color: whitesmoke;
}

/* styles.css */

.heart-icon-container {
   bottom: 8px;
   right: 8px;
   padding: 4px;
   margin-right: 1rem;
}

.heart-icon {
   width: 1rem;
   height: 1rem;
}

.postImg {
   width: 20rem;
   margin-left: 17rem;
}
